body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
nav{
    height: 101px;
    padding-top: 20px;
}

.nav__blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav__block {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

a:hover, a:visited, a {
    font-style: normal;
    text-decoration: none;
    cursor:pointer;
}
.nav__text :hover, :visited {
    color: #001A49;
}
.button {
    display: inline-block;
    background: linear-gradient(#CD10FF, #9F06FF);
    color: white;
    border-radius: 20px;
    padding: 15px 30px;
}


.section1__element1 {
    height: 700px;
    width: 1090px;
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    border-radius: 20px;
    opacity: 0.05;
}